/* Container holding the image and the text */
.bg {
  position: relative;
  text-align: center;
  color: white;
}

.bg-overlay {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered>h1{
  font-size: 80px;
}
.centered>span{
  font-size: 20px;
}

 /* AboutUs start  */
 
 
 /* AboutUs start  */

.about{
  padding-top: 150px;
  
}
.about>a{
  color: black;
  font-size: 40px;
  text-decoration: none;
}

.icon-center{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  }

.icon-text>h4{
  font-size: 15px;
  padding: 15px;
  
}
.icon{
  color: #1E90FF;
  font-size: 100px;
  padding-top: 10px;
}

/* AboutUs end  */

/* Featured Project start  */

.featuredproject{
    font-size: 20px;
    text-align: center;
    
    
}

.featuredproject>h4{
  padding-top: 10px;
}
.featuredproject>h4>a{
    font-size: 50px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.featuredproject>p{
  padding-top: 30px;
  padding-bottom: 30px;
}

.iconimage{
  font-size: 60px;
  
}
/* Featured Project end  */


/* Our App start  */


.ourapps>a{
  font-size: 50px;
  color: black;
  text-decoration: none;
}
.iconapps{
  padding-top: 50px;
}

.text-icon>a{
  font-size: 25px;
}

/* Our App end  */

/* Our Team start  */

 
  .ourteam>a{
      color: black;
      font-size: 40px;
      text-decoration: none;
  }
  .user{
    text-align: center;
    padding-top: 50px;
 }
  .user>h4{
      text-align: center;
   }

  .user>p{
      text-align: center;
  }

/* Our Team end */

 /* Contact start  */

 
 .contact>a{
  color: black;
  font-size: 40px;
  text-decoration: none;
}

.icon-contact{
  font-size: 25px;
}

.icon-contact>a{
  font-size: 5px;
}

.form{
  font-size: 25px;
  padding-top: 55px;
  padding-bottom: 10px;
}

.peta{
  font-size: 25px;
  padding-top: 55px;
  padding-bottom: 10px;
}

.button{
  background-color: #1E90FF;;
}

#isipesan{
  height: 150px;
}

/* Contact end */

 /* footer start  */

.bgfooter{
  position: relative;
  text-align: center;
  color: white;
  
}

.foottext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.foottext>h1{
 font-size: 30px;
}

.foottext>span{
  font-size: 10px;
}

.cover{
  background: #F8F8FF;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px 0;
  }

